<div class="dialogHeader">
  <h1 mat-dialog-title>New time entry</h1>
  <p class="subtitle">{{currentDate | date : 'dd.MM.yyyy'}}</p>
</div>

<form [formGroup]="TimeEntryForm" (ngSubmit)="onSubmit()" #formDirective="ngForm" >

  <div class="content">
    <mat-dialog-content class="dialog-container-width">

      <mat-form-field>
        <mat-select formControlName="project" placeholder="Project" class="dropdown-input" required>
          <mat-option *ngFor="let p of userProjects" [value]="p" (onSelectionChange)="toggleTaskDropdown()">{{p.projectName}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select formControlName="task" matSelect placeholder="Task" class="dropdown-input" required>
          <mat-option *ngFor="let t of f.project.value.tasks" [value]="t">{{t.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="input-field">
        <input matInput type="number" formControlName="hours" placeholder="Hours" required>
      </mat-form-field>
      <mat-form-field class="input-field">
        <input matInput type="number" formControlName="minutes" placeholder="Minutes" required>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput formControlName="notes" placeholder="Notes"></textarea>
      </mat-form-field>

    </mat-dialog-content>
  </div>

  <div class="actions">
    <mat-dialog-actions>
      <button mat-button cdkFocusInitial color="primary" type="submit">Add Entry</button>
      <button mat-button mat-dialog-close (click)="onNoClick()" color="warn" type="button">Cancel</button>
    </mat-dialog-actions>
  </div>
</form>
