<mat-toolbar color="primary">
  <!--nav menu-->
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- logo -->
  <p>Taskter</p>

  <!--user menu-->
  <div *ngIf="loggedInUser">
    <button mat-icon-button (click)="userMenu.toggle()">
      <img src="{{loggedInUser.avatarURL}}" style="width: 40px; height: 40px; border-radius: 5px;" />
    </button>
  </div>
</mat-toolbar>
<!--nav -->
<mat-sidenav-container style="height:93%;">
  <mat-sidenav #sidenav mode="push" closed>Sidenav content</mat-sidenav>
  <mat-sidenav-content style="text-align: center;">App content components go here!</mat-sidenav-content>
  <mat-sidenav #userMenu mode="over" closed position="end">User menu</mat-sidenav>
</mat-sidenav-container>