
#toolbarContent
{
    display:flex;
    justify-content: space-between;
    flex:1 1 auto;
    align-items: center;
}

mat-sidenav {
    height: 100%;
    width: 25%;
}
.sidenav-link{
border-bottom: 1px solid rgba(224, 224, 224, 1);
padding:5px;

}
.sidenav-item{
    border-bottom: 1px solid rgba(224, 224, 224, 1);
   
    
    }
.sidenav-icon{
    margin-right:10px; 
}

