<div class="dialogHeader">
  <h1 mat-dialog-title class="title">{{pageTitle}}</h1>
  <p class="subtitle"> {{currentDate?.format("dddd, D MMM")}}</p>
</div>

<form [formGroup]="TimeEntryForm" (ngSubmit)="onSubmit()">

  <div class="content">
    <mat-dialog-content>
      <mat-form-field>
        <mat-select formControlName="project" placeholder="Project" class="dropdown-input" required>
          <mat-option *ngFor="let p of userProjects" [value]="p" (onSelectionChange)="toggleTaskDropdown()">{{p.projectName}}</mat-option>
        </mat-select>
        <mat-error *ngIf="f.project.errors?.required">Project name is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select formControlName="task" matSelect placeholder="Task" class="dropdown-input" required>
          <mat-option *ngFor="let t of f.project.value?.tasks" [value]="t">{{t.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="f.task.errors?.required">Task name is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" formControlName="hours" placeholder="Hours" required>
        <mat-error *ngIf="f.hours.errors?.required">Number of hours is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" formControlName="minutes" placeholder="Minutes" required>
        <mat-error *ngIf="f.minutes.errors?.required">Number of minutes is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput formControlName="notes" placeholder="Notes"></textarea>
      </mat-form-field>
    </mat-dialog-content>
  </div>

  <div class="actions">
    <mat-dialog-actions>
      <button mat-button cdkFocusInitial color="primary" type="submit" [disabled]="TimeEntryForm.untouched">Add Entry</button>
      <button mat-button mat-dialog-close (click)="closeDialog()" color="warn" type="button">Cancel</button>
    </mat-dialog-actions>
  </div>
</form>
