.dropdown-input{
  margin-top: 15px;
}
.content, .dialogHeader{
  text-align: center;
}
.actions {
  display: flex;
  justify-content: center;
}
.subtitle {
  font-style: italic;
  font-size: 0.8em;
  margin-top: 10px;
}
.title {
  margin-bottom: 10px;
}
#spinnerWrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
}
