.dropdown-input{
  margin-top: 15px;
}
.content, .dialogHeader{
  text-align: center;
}
.actions {
  display: flex;
  justify-content: center;
}
.subtitle {
  font-style: italic;
  font-size: 0.8em;
  margin-top: 10px;
}
.mb-10px {
  margin-bottom: 10px;
}
.content > mat-form-field {
  margin-bottom: 1.5em;
}
.duration > mat-form-field {
  margin-bottom: 1.5em;
}
.content:last-child{
  margin-bottom: 0.5em;
}
#spinnerWrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
}
