<div class="container">
  <mat-card>
    <h1>Create new project</h1>

    <mat-horizontal-stepper [linear]="true" #stepper class="controlls">
      <mat-step [stepControl]="basicInfoFormGroup">
        <ng-template matStepLabel>Basic info</ng-template>
        <form [formGroup]="basicInfoFormGroup" class="form">
          <mat-form-field>
            <input
              matInput
              placeholder="Project name"
              formControlName="projectName"
            /> </mat-form-field
          ><br />

          <mat-form-field>
            <input
              matInput
              placeholder="Project code"
              formControlName="projectCode"
            /> </mat-form-field
          ><br />
        </form>
        <div class="rightButton">
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="projectClientFormGroup">
        <ng-template matStepLabel>Choose client</ng-template>
        <form [formGroup]="projectClientFormGroup" class="form">
          <mat-form-field>
            <mat-select
              formControlName="client"
              placeholder="Client"
              class="dropdown-input"
            >
              <mat-option *ngFor="let client of clients" [value]="client"
                >{{ client.id }} {{ client.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </form>
        <div class="input">
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step [completed]="usersCompleted">
        <ng-template matStepLabel>Add users</ng-template>
        <div>
          <p class="rightLabel">Selected</p>
        </div>
        <mat-selection-list>
          <mat-list-option
            *ngFor="let user of users"
            (click)="userSelected(user.userId)"
          >
            <div>{{ user.firstName }} {{ user.lastName }}</div>
          </mat-list-option>
        </mat-selection-list>
        <div class="input">
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button matStepperNext (click)="onNextStepUser()">
            Next
          </button>
        </div>
      </mat-step>
      <mat-step [completed]="tasksCompleted">
        <ng-template matStepLabel>Add tasks</ng-template>
        <form [formGroup]="projectForm" class="form">
          <mat-form-field>
            <input
              matInput
              placeholder="Add task"
              formControlName="addTaskControl"
            />
          </mat-form-field>
          {{ " " }}
          <button
            mat-stroked-button
            (click)="onAddTask()"
            [disabled]="projectForm.get('addTaskControl').invalid"
            color="primary"
          >
            Add Task
          </button>

          <div *ngFor="let task of newTasks; let i = index">
            <mat-card class="matCard">
              {{ task.name }}
              <mat-checkbox (mousedown)="onBillableChange(i)">
                Billable</mat-checkbox
              >

              <button mat-icon-button (click)="onRemoveTask(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card>
          </div>
        </form>
        <div class="input">
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button matStepperNext (click)="onNextStepTask()">
            Next
          </button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Finish</ng-template>
        <div>
          <p>Project name: {{this.basicInfoFormGroup.value.projectName}}</p>
          <p>Project code: {{this.basicInfoFormGroup.value.projectCode}}</p>
          <!-- <p>Project client: {{this.projectClientFormGroup.value.client.name}}</p> -->

        </div>

        <div class="input">
          <button mat-button matStepperPrevious>Back</button>
          <button
            mat-raised-button
            cdkFocusInitial
            color="primary"
            (click)="onSubmit()"
          >
            Create Project
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</div>
