.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.controlls{
  display: flex;
  flex-direction: column;
  width: 100%
}

.form{
  width: 70%;
}

.input{
  display: flex;
  justify-content:space-between;
}

.vertical-flex{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.actions{
  margin-top: 2em;
}

.errors{
  color: darkred;
}
