<div class="nav-menu-content">
  <mat-nav-list >
    <div class="sidenav-link">
      <a mat-list-item routerLink='/timeSheet'>
        <i class="material-icons sidenav-icon">access_time</i>
        My Timesheets
      </a>
    </div>

    <mat-accordion *ngIf="loggedInUser">
      <mat-expansion-panel *ngIf="loggedInUser.role === 'Administrator'">
        <mat-expansion-panel-header class="sidenav-item">
          <mat-panel-title>
            <i class="material-icons sidenav-icon">settings</i>
            Admin Panel
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <a mat-list-item routerLink='/adminPanel/projects'>
            <i class="material-icons sidenav-icon">featured_play_list</i>
            Projects</a>
        </mat-nav-list>

        <mat-nav-list>
          <a mat-list-item routerLink='/adminPanel/clients'>
            <i class="material-icons sidenav-icon">people</i>
            Clients</a>
        </mat-nav-list>

      </mat-expansion-panel>
    </mat-accordion>

  </mat-nav-list>

 </div>
