<div class="table-container">
  <mat-card>
    <div class="table-header">

      <h2> {{ date.format('MMMM') }}  {{date.date()}}, {{date.year()}}</h2>


      <div class="date-controls">

        <button mat-button (click)="previousDate()">
          <i class="material-icons" >keyboard_arrow_left</i>
        </button>
        <button mat-button (click)="currentDay()">Today</button>
        <button mat-button  (click)="nextDate()">
          <i class="material-icons">keyboard_arrow_right</i>
        </button>

        <input matInput [matDatepicker]="picker" [formControl]="datePicker" (dateChange)='onDatePickerChange()' id="datePicker"/>

        <mat-datepicker #picker></mat-datepicker>

        <button mat-button (click)="picker.open()">
          <i class="material-icons">date_range</i>
        </button>


        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" disabled>
          <mat-button-toggle value="day_view" checked="ture">Day</mat-button-toggle>
          <mat-button-toggle value="week_view">Week</mat-button-toggle>
        </mat-button-toggle-group>

      </div>
    </div>
  </mat-card>

  <tsk-time-sheet-table [tasks]="tasks"></tsk-time-sheet-table>
  <button *ngIf="tasks" mat-button class="add-button">ADD ENTRY</button>
</div>
