.table-container {
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  height: auto;
}

.add-button {
  padding: 1em;
  width: 12em;
  background-color: rgba(63, 81, 181, 1);
  color: white;
  margin-top: 10px;
  float: left;
}

.table-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.date-controls{
  display: flex;
  justify-content: flex-end;
}

#datePicker{
  width: 0%;
  height: 0%;
  border: 0px;
}
