<div class="details-container" *ngIf="project">

  <mat-card>
    <div>
      <div class="title">
        <h2 class="title">Project details: {{ project.name }}</h2>
      </div>
      <div style="float:right;">
        <button
          mat-button
          class="back-button"
          routerLink="/adminPanel/projects"
        >
          Back
        </button>
      </div>
    </div>

    <div style="margin-top: 50px">
      <div class="details-row">
        <b>Name: </b> {{ project.name }} <br />
      </div>
      <div class="details-row">
        <b>Code: </b>{{ project.code }} <br />
      </div>
      <div class="details-row">
        <b>Client: </b> {{ project.clientName }} <br />
      </div>
    </div>
    <div class="rightButton">
      <button mat-button class="edit-button" (click)="openDialog()">Edit basic info</button>
    </div>
  </mat-card>

  <mat-accordion class="details">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>Project tasks</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let task of activeTasks">{{
          task.name
        }}</mat-list-item>
      </mat-list>
      <div class="rightButton">
        <button mat-button class="edit-button" (click)="openTaskDialog()">Edit tasks</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="details">
    <mat-card>
      <h3>Assigned users</h3>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let user of users">{{
          user.firstName + " " + user.lastName
        }}</mat-list-item>
      </mat-list>
      <div class="rightButton">
        <button mat-button class="edit-button">Edit</button>
      </div>
    </mat-card>
  </div>
</div>
